@import "compass/css3";

$icon-font-path: "../assets/fonts/bootstrap/" !default;
$brand-primary: #1a2e46 !default;
$navbar-default-color: #1a2e46 !default;
$navbar-default-level2-color: #0bc6f9 !default;
$navbar-default-link-color: #1a2e46 !default;
$navbar-default-link-active-color: #0bc6f9 !default;
$navbar-default-link-hover-color: #0bc6f9 !default;
$navbar-default-link-active-bg: #fff !default;
$navbar-default-link-hover-bg: #fff !default;
$index-first-container-height: 600px !default;
$navbar-collapse-max-height: 600px !default;
$screen-sm: 769px !default;

// Navbar brand label
$navbar-default-brand-color: #1a2e46 !default;
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  overflow-x: hidden;
}

body {
  overflow-y: hidden;
}

a {

  &:hover {
    text-decoration: underline;
  }
  &.learn-more {
    color: #666;
    &:hover {
      color: $brand-primary;
    }
  }
}

.container, .container-fluid {
  text-align: center;
  padding-bottom: 0px;
  div.title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
    color: white;
    background: $brand-primary;
    overflow: hidden;
    span {
      float: left;
      margin: 0 auto;
      &.triangle-bottomright {
        border-left-width: 40px;
        border-bottom-width: 30px;
      }
      &.h3 {
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }

}

.container {
  padding: 0;
}

.container-inner {
  margin: 0 40px;
  @media(max-width: 1024px) {
    margin: 0 0;
  }
}

span.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 25px solid #99cdff;
  border-left: 25px solid #fff;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

div.top-container {
  div.top-logo {
    background: #fff;
    height: 150px;
    padding-top: 30px;
    text-align: left;
    @media(max-width: $screen-xs-max) {
      height: auto;
      overflow: hidden;
      padding-top: 0;
    }
    img {
      height: auto;
      @media(max-width: $screen-xs-max) {
        width: 100%;
      }
    }
    span.triangle-bottomright {
      float: right;
      margin-top: 5px;
    }
    a.btn {
      float: right;
      margin-top: 5px;
      background: #8693a3;
      border-radius: 0;
      margin-right: 3px;
      padding: 2px 8px;
      color: #fff;
      span {
        margin-right: 3px;
      }
      &.newsletter {
        background: $brand-primary;
        margin-right: 20px;
      }
    }
  }
  hr.hr {
    height: 0;
    border-bottom: 10px solid $brand-primary;
    margin: 0;
  }
  .navbar.navbar-default {
    box-shadow: 0 3px 10px -2px #666;
    margin-bottom: 30px;
    height: 40px;
    min-height: 40px;
    border: none;
    border-radius: 0;
    color: $brand-primary;
    @media(max-width: $screen-xs-max) {
      height: auto;
      overflow: hidden;
      display: none;
      margin-bottom: 5px;
      .navbar-left {
        .nav.navbar-nav {
          margin-top: 0;
          margin-bottom: 0;
          > li {
            > a {
              margin: 0;
              padding: 8px 0;
            }
            &:hover, &:active, &.active {
              a {
                background: #8494a3;
                color: #fff;
              }
            }
          }
        }
      }
    }
    @media(min-width: $screen-sm-min) {
      .navbar-left {
        float: none !important;
        .navbar-nav {
          float: none;
          > li {
            width: 14%;
            @media(max-width: 1024px) {
              width: 14%;
            }
            > a {
              border-right: solid 1px $brand-primary;
            }
            &.group-li, &.contact-li {
              width: 14%;
              @media(max-width: 1024px) {
                width: 15%;
              }
            }
            &:last-child {
              > a {
                border-right: none;
              }
            }
            &.active {
              > a {
                color: $navbar-default-link-hover-color;
              }
            }
          }
        }
      }
    }
    .navbar-left {
      .navbar-nav {
        > li {
          > a {
            font-size: 16px;
            padding: 0px 0px;
            margin: 10px 0;
          }
        }
      }
      .navbar-nav > li > a {

      }
      .navbar-nav .dropdown-menu {
        background: rgba(30, 45, 85, .6);
        > li {
          > a {
            &:hover, &.active {
              color: $brand-primary;
            }
          }
        }
      }
    }
  }
}

h3, .h3 {
  font-weight: bold;
  text-align: left;
}

.footer {
  text-align: center;
  height: 110px;
  padding: 25px;
  background: #8594a2;
  p {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

#index {
  .first-container {
    .flexslider {
      border: 0;
      box-shadow: 0 3px 10px -2px #666;
      margin-bottom: 0;
      border-right: 0;
      overflow: hidden;
      background: #dae3ec;
      img.col {
        width: 58.33333%;
        padding: 0;
        @media(max-width: $screen-xs-max) {
          width: 100%;
        }
      }
      .flex-caption {
        text-align: left;
        padding: 0 15px;
        h3 {
          margin-top: 10px;
          color: #1a2e46;
        }
        p {
          color: #8594a2;
        }
        ul {
          padding-left: 15px;
          font-weight: bold;
          font-size: 12px;
          list-style-type: disc;
          li {
            margin: 3px 0;
          }
        }
      }
      .flex-direction-nav a {
        height: 50px;
        margin-top: -25px;
      }
    }
  }
  .second-container {
    .content {
      color: $brand-primary;
      text-align: left;
      box-shadow: 0 3px 10px -2px #666;
      margin-bottom: 20px;
      position: relative;
      .col {
        padding: 0;
        img {
          width: 100%;
        }
        &.right-content {
          position: static;
          p {
            padding: 0 25px 0 25px;
            color: #787878;
            font-size: 13px;
            text-align: justify;
            &.h4 {
              text-align: left;
              padding: 0 10px 0 15px;
              font-size: 18px;
              color: #fff;
              background: #8494a3;
              font-weight: normal;
              line-height: 36px;
              margin-top: 0;
            }
          }
          button.btn {
            float: right;
            margin-right: 10px;
            margin-bottom: 10px;
            background: #99cdff;
            border: 0;
            color: #fff;
            font-style: italic;
            font-size: 14px;
            position: absolute;
            right: 0;
            bottom: -5px;
          }
        }
      }

    }
  }
  .third-container {
    text-align: left;
    overflow: hidden;
    margin-bottom: 20px;
    .content {
      div.col {
        margin-bottom: 20px;
        &.left {
          box-shadow: 0 3px 10px -2px #666;
          background: #dae3ec;
          overflow: hidden;
          @media(max-width: $screen-xs-max) {
            width: 100%;
          }
          p.title {
            margin-left: 1%;
            font-size: 20px;
          }
          form {
            input, textarea {
              border-radius: 3px;
              font-size: 18px;
              padding: 0 10px;
              border: 1px solid #bbb;
              float: left;
              margin-left: 1%;
              margin-bottom: 10px;
            }
            input {
              width: 48%;
              height: 35px;
            }
            textarea {
              width: 97%;
            }
            span.required {
              float: left;
              color: red;
              margin-left: 3px;
              @media(max-width: $screen-xs-max) {
                margin-left: 0;
              }
            }
            button.submit {
              float: right;
              border: 0;
              color: #fff;
              background: $brand-primary;
              margin-bottom: 10px;
              margin-right: 2%;
            }
          }
        }
        &.right {
          padding-right: 0;
          img {
            box-shadow: 0 3px 10px 2px #666;
            float: right;
          }
        }
      }
    }

  }

}

#about {
  .first-container {
    div.bg {
      background-image: url("../assets/images/about/first-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 450px;
      margin-bottom: 15px;
      position: relative;
      .right-top {
        position: absolute;
        text-align: left;
        top: 50px;
        right: 30px;
        color: #8594a2;
        @media(max-width: 1024px) {
          width: 60%;
        }
        @media(max-width: $screen-xs-max) {
          width: 70%;
        }
        width: 40%;
        h3 {
          color: #47cff8;
          font-weight: normal;
        }
        hr {
          border-top-color: #8594a2;
        }
        ul {
          padding-left: 20px;
        }
      }
    }
    div.second {
      @include gradient-horizontal(#fff, #aac7ea);
      padding: 20px 0;
      img {
        @media(max-width: 1024px) {
          width: 100%;
        }
      }
    }
  }
  .second-container {
    .container-inner {
      > ul {
        list-style: none;
        padding-left: 0;
        > li {
          padding-left: 10px;
          padding-right: 10px;
          &:first-child {
            padding-left: 0;
          }
          &:nth-child(2) {
            padding-left: 5px;
            padding-right: 5px;
          }
          &:last-child {
            padding-right: 0;
          }
          img {
            width: 100%;
          }
          h3 {
            font-weight: normal;
            text-align: center;
          }
          hr {
            border-top-color: #adc8fc;
            margin: auto 50px;
            margin-bottom: 10px;
          }
          ul {
            list-style: disc;
            text-align: left;
            padding-left: 80px;
            font-size: 17px;
            color: #787878;
          }
        }
      }
    }
  }
  .third-container, .fourth-container {
    ul.content {
      list-style: none;
      padding-left: 0;
      > li.col {
        padding: 0;
        img {
          width: 100%;
          height: auto;
        }
        h3 {
          text-align: left;
          padding: 0 10px 0 15px;
          font-size: 18px;
          color: #fff;
          background: #8494a3;
          font-weight: normal;
          line-height: 36px;
          margin-top: 0;
        }
        > ul {
          list-style: disc;
          text-align: left;
          font-size: 15px;
          li {
            margin-bottom: 5px;
          }
        }
        p {
          text-align: left;
          font-size: 15px;
        }
      }
    }
  }
  .fourth-container {
    ul.content {
      > li.col-md-5 {
        padding-top: 50px;
        ul {
          padding-left: 20px;
        }
      }
    }
  }
}

#ec {
  .first-container {
    div.bg {
      background-image: url("../assets/images/events/first-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 450px;
      margin-bottom: 15px;
      position: relative;
      .right-top {
        text-align: left;
        position: absolute;
        bottom: 30px;
        right: 30px;
        color: #8594a2;
        @media(max-width: 1024px) {
          width: 60%;
        }
        @media(max-width: $screen-xs-max) {
          width: 70%;
        }
        h3 {
          color: #47cff8;
          font-weight: normal;
        }
        ul {
          padding-left: 20px;
        }
      }
    }
  }
  .second-container {
    ul.content {
      list-style: none;
      padding-left: 0;
      border: 1px solid #c6e3ff;
      margin-bottom: 15px;
      > li.col {
        padding: 0;
        img {
          width: 100%;
          height: auto;
        }
        h3 {
          text-align: left;
          padding: 0 10px 0 20px;
          font-size: 18px;
          color: #4b5667;
          font-weight: normal;
          line-height: 30px;
          margin-top: 10px;
          margin-bottom: 0;
        }
        hr {
          border-top-color: #a7c3f9;
          margin: 15px 20px 15px 20px;

        }
        p {
          text-align: left;
          font-size: 15px;
          padding: 0 20px 0 20px;
          color: #787878;

        }
      }
      &:nth-child(even) {
        background: #deeaf2;
      }
      &.bottom {
        border: none;
        > li.col {
          padding: 10px;
          @media(max-width: $screen-xs-max) {
            padding: 10px 0;
          }
          > div {
            border: 1px solid #c6e3ff;
          }
          &:nth-child(even) {
            > div {
              background: #deeaf2;
            }
          }
        }
      }
    }
  }
}

#projects {
  .first-container {
    div.bg {
      background-image: url("../assets/images/projects/first-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 450px;
      margin-bottom: 15px;
      position: relative;
      .right-top {
        text-align: left;
        position: absolute;
        top: 30px;
        right: 30px;
        color: #8594a2;
        @media(max-width: 1024px) {
          width: 60%;
        }
        @media(max-width: $screen-xs-max) {
          width: 70%;
        }
        h3 {
          color: #47cff8;
          font-weight: normal;
        }
        ul {
          padding-left: 20px;
        }
      }
    }
  }
  .second-container {
    ul.content {
      list-style: none;
      padding-left: 0;
      border: 1px solid #c6e3ff;
      margin-bottom: 15px;
      > li.col {
        &:last-child {
          padding: 50px 20px 0;
          font-size: 16px;
          color: #1a2e46;
          line-height: 28px;
        }
        padding: 0;
        img {
          width: 100%;
          height: auto;
        }
        hr {
          border-top-color: #a7c3f9;
          margin: 15px 0 15px;
        }
        p {
          text-align: left;
        }
        ul {
          text-align: left;
          list-style: disc;
          padding-left: 20px;
          li {
            font-weight: bold;
            margin-bottom: 10px;
            .comment {
              margin-left: 5px;
              color: #787878;
            }
          }
        }
      }
    }
    div.img-bottom {
      border: 1px solid #c6e3ff;
      margin-bottom: 20px;
      margin-top: 20px;
      img {
        width: 100%;
      }
    }
  }
  .third-container {
    .container-inner {
      border: 1px solid #c6e3ff;
      margin-bottom: 20px;
      font-size: 16px;
      color: #1a2e46;
      line-height: 28px;
      > img {
        width: 100%;
        margin-bottom: 20px;
      }
      > ul {
        padding: 0 40px;
        text-align: left;
        list-style: disc;
        li {
          font-weight: bold;
          margin-bottom: 10px;
          .comment {
            margin-left: 5px;
            color: #787878;
          }
        }
      }
      hr {
        border-top-color: #a7c3f9;
        margin: 15px 20px 15px;
      }
      p {
        margin: 20px;
        text-align: left;
      }
    }
  }
}

